body{
  font-family: 'Alumni Sans', sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
.partyManager{
  font-family: 'Caveat', cursive;
  width: 350px;
  margin-left: 20px;
}
.divForMainPage{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.hForMainPage{
  margin-top: 50px;
  margin-left: 50px;
  font-family: 'Caveat', cursive;
  font-size: 80px;
}
.pForMainPage{
  font-size: 20px;
}
.map{
  width: 450px;
  height: 450px;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
#qwer{
  padding: 10px;
}
.listOfUchastnikov{
  height: auto;
  padding: 20px;
  border: 1px solid black;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(206, 207, 207);
  position: fixed;
  width: 450px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.timeDiv {
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(12, 6, 1, 0.911);
  width: 100%;
  height: 100%;
  display: flex;
}

a, .dateOfParty{
  text-decoration: none;
  color: rgba(90, 62, 2, 0.6);
}
a:hover, .dateOfParty:hover{
  cursor: help;
  color:rgba(212, 149, 14, 0.6)
}
a:active{
  color:rgba(90, 62, 2, 0.6);
}

.form-control:focus {
  border-color: white;
  box-shadow: inset 0 1px 1px rgba(0, 252, 0, 0.075), 0 0 8px rgba(90, 62, 2, 0.6);
}

.code{
  width: 250px;
}

.divZagolovok{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partyList{
  margin: 50px 0 0 100px;
  max-width: 1100px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}
.cartOfParty{
  border: 2px solid rgb(99, 99, 99, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 300px;
  width: 450px;
}
.cartOfZakup{
  gap: 10px;
}
.cartOfList, .cartOfZakup{
  text-align: center;
  margin: 50px 0 0 100px;
  display: flex;
  flex-direction: column;
  width: 450px;
}
.infoAboutParty{
  display: flex;
}
.straincher{
  gap: 200px;
}
.listOfPartyInfo{
  margin: 50px 0px 0px 75px;
  width: 700px;
}
.listOfFunctions{
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 40px 0px 0px 40px;
  gap: 20px;
}
.calculatorH{
  position: fixed;
  bottom: 23%;
  right: 3%;
}
.calculatorImage{
  width: 200px;
  height: 200px;
  transform: rotate(-25deg);
  position: fixed;
  bottom: 1%;
  right: 10%;
}
.dateOfParty{
  width: 400px;
  text-align: end;
}
.cart{
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}

.textOfCart{
  width: 250px;
  height: 40px;
}

#tdFix{
  margin-left: 10px;
}
#titleH{
  height: 100px;
}
.divCode{
  width: 350px;
  display: flex;
  gap: 10px;
}
.divBlock{
  display: flex;
  flex-direction: column;
}
.navbar{
  border-radius: 0 0 20px 20px;
}
.btn-outline {
  border-color: #ced4da;
}

.btn:active{
  border: white !important;
}

.btn-outline:hover{
  box-shadow: 0 0 8px rgba(90, 62, 2, 0.6);
}

.wrapperMain{
  width: 1200px;
}

.wrapperAuth{
  width: 400px;
}
#btnForAuth{
  margin-left: 100px;
  width: 200px;
}
.wrapperCreate{
  width: 800px;
}

.col{
  width: 300px!important;
}

.wrapper{
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.wrapperParty{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.formForInput{
  margin: 10px;
  height: 150px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ryad{
  display: flex;
  justify-content: space-between;
}
.formForInput1{
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.selectForDebtor{
  font-size: 25px;
  padding: 10px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.divTable{
  display: flex;
  margin: 100px 0 0 100px;
  gap: 50px;
}
.tableForFinal{
  overflow: auto;
  height: 400px;
  width: 600px;
}
thead{
  background-color: rgba(156, 120, 41, 0.6);
}
#btnForTusa{
  margin: 5px 0px;
  width: 200px;
}

  @media (max-width: 450px) { 
    .navbar{
      border-radius: 0px;
    }
    .container {
      width: 400px;
      padding: 0px 30px;
    }
    .container-fluid{
      margin: 0 20px;
    }
    .hForMainPage{
      margin: 25px 0px 0px 25px;
    }
    #btnForAuth{
      margin-left: 70px;
    }
    .divZagolovok{
      flex-direction: column-reverse;
      align-items: flex-start;
    }
    .partyList{
      margin: 10px 0px 0px 10px;
    }
    #btnForTusa{
      margin: 5px 0px 10px -10px;
      width: 150px;
    }
    .formForInput{
      height: 50px;
    }
    #inputForDate{
      height: 50px;
      padding: 19px;
      font-size: 18px
    }
    .map{
      width: 350px;
      height: 470px;
    }
    .partyList{
      flex-direction: column;
      margin: 0px 0px 20px 0px;
    }
    .cartOfParty{
      max-width: 340px;
      max-height: 300px;
      height:auto;
    }
    .cart{
      margin: 0px;
      max-height: 100px;
    }
    .textOfCart{
      width: 100px;
    }
    #titleH{
      max-height: 50px;
    }
    .table{
      margin: 10px 0px;
    }
    #btnForTable{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
    }
    #tdFix{
      width: 101px;
      margin-left: 0px;
    }
    #btnForProfile{
      width: 101px;
    }
    td{
      height: 100px;
    }
    .listOfFunctions{
      width: 150px;
      margin: 0px;
      gap: 0px;
      height: 100%;
    }
    .listOfPartyInfo{
      max-width: 340px;
      margin: 0px;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .infoAboutParty{
      max-width: 350px;
      flex-direction: column;
    }
    .calculatorH{
      position: absolute;
      bottom: 53%;
      font-size: 20px;
      max-width: 150px;
      right: 10%;
    }

    .calculatorImage{
      position: absolute;
      bottom: 33%;
      right: 3%;
      transform: rotate(0deg);
      scale: 0.5;
    }
    .straincher{
      gap: 0px;
    }
    .wrapper{
      margin-top: 0px;
    }
    .cartOfZakup{
      margin: 0px;
      width: 340px;
      gap: 0px;
    }
    #debtorInput{
      height: 150px;
      margin: 0px;
      width: 340px;
    }
    #debtorBtn{
      margin: 0px;
      width: 340px;
    }
    .divTable{
      margin: 0;
    }
    .cartOfList{
      width: 340px;
      margin: 0;
    }
   }

  @media (min-width: 576px) and (max-width: 767px) {
    .navbar{
      border-radius: 0px;
    }
    .divZagolovok{
      width: 600px;
    }
   }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .container {
      width: 750px;
    }
    .navbar{
      border-radius: 0px;
    }
   }
  
  @media (min-width: 992px) and (max-width: 1199px) {
    .container {
      width: 970px;
      }
   }
  
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
   }